<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender
        name="STDOUT"
        class="ch.qos.logback.core.ConsoleAppender"
    >
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
        RSProt networking information is useful during development.
    -->
    <logger
        name="net.rsprot"
        level="INFO"
    />

    <!--
        General OpenRS2 logging.
    -->
    <logger
        name="org.openrs2"
        level="WARN"
    />

    <!--
        OpenRS2 attempts to load optional native libbz2.

        Windows normally won't have bz2.dll available, so OpenRS2
        deliberately falls back to Apache Commons' pure-Java
        implementation.

        We aren't relying on native bzip2 output, so don't print the
        full UnsatisfiedLinkError every server startup.
    -->
    <logger
        name="org.openrs2.compress.bzip2.Bzip2"
        level="ERROR"
    />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>